body {
    background-color: rgb(3, 49, 55);
}

table {
    color: black;
    width: 100%;
    margin-left: auto; 
    margin-right: auto;
    border-spacing: 100px;
    text-align: center;

    border:5px double rgb(104, 118, 119);
}

th
{
    text-align: center;
}

h1 {
    color: black;
}

h2 {
    text-align: center;
}

.nav-link {
    color:white;
    text-align: center;
}

.button1 {
    margin: 10;
}

.progress {
    margin-left: 100;
    margin-right: 100;
}



